*{
    margin: 0 auto;
    
}








input{
    padding: 0;
    margin: 0;
    width: 90%;
}









.main{
    width: 1100px;
    text-align: center;
}











ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
header ul{
    float: left;
    width: 100%;
}
li{
  list-style: none;
}









#logo{
    float: left;
    padding-left: 32px;
    padding-top: 52px;
    width: 44px;
    height: 47px;
}
#logo img{
     width: 100%;
     height: 100%;


}








#title{
    float: left;
    width: 402px;
    height: 49px;
    padding-top: 52px;
}
#title img{
    width: 100%;
    height: 100%;
}





#search{
    float: left;
    width: 383px;
    height: 33px;
    padding-top: 36px;
    padding-left: 208px;
}
#search img{
    width: 100%;
    height: 100%;
}







header search input{
    width: 284px;
    height: 32px;
    border-radius: 16px;
    background-color: red;

} 
header{
    height: 117px;
}





#nav{
    width: 100%;
    height: 36px;
    background-color: #015293;
    font-size: 20px;
}
#nav ul li{
    float: left;
    line-height: 36px;
    padding-left: 28px;
    padding-right: 28px;
    color:white;
    border-right: 1px solid white;
}
#nav li a{
    color: white;
    text-decoration: none;
}
#nav ul li#img1{
    width: 86px;
    height: 36px;
    padding-left: 210px;
    
}
#img1 img{
  width: 100%;
  height: 100%;

}
#nav ul  #last{
    border: none;
}










#introduce{
    height: 748px;
  
}
#introduce #title_one{
   width: 100%;
}
#introduce #img {
    height: 610px;
    margin-top: 24px;
}
#introduce #img img{
    width: 100%;
    height: 100%;
}









#neirong h1{
    padding-left: 144px;
    padding-top: 34px;
   font-size: 40px;
    color: #015293;
}
#neirong p{
    color: #015293;
    padding-left: 128px;
    font-size: 19px;
    margin-top: 3px;
}




#nav .mainlevel .sub_nav{
    width: 1075px;
    height: 40px;
    position: absolute;
    left: -117px;
   
}









.footer{
    height: 200px;
    background-color: white;
}
.footer ul{
    float: left;
    width: 330px;
}


    #main{background: 33DD55;width: 80%;height: 1500px;}
    #main1{background:33DD55;width: 80%;height: 500PX;}
    #left{background: 33FBFB;width: 33%;height: 100%;float: left;}
    #left_up_1{background: 334455;width: 100%;height: 250px;}
    #left_up_2{background: 445566;width: 100%;height: 470px;}
    #left_down_1{background: 556677;width: 100%;height: 310px;}
    #left_down_2{background: 778899;width: 100%;height: 370px;}
    #center{background: 33FBFB;width: 34%;height: 100%;float: left;}
    #center_up_1{background: 334455;width: 100%;height: 370px;}
    #center_up_2{background: 445566;width: 100%;height: 530px;}
    #center_down_1{background: 556677;width: 100%;height: 350px;}
    #center_down_2{background: 778899;width: 100%;height: 150px;}
    #right{background-color: rgb(194, 194, 194) ;width: 33%;height: 100%;float: left;}
    #right_up_1{background: 334455;width: 100%;height: 700px;}
    #right_up_2{background: 445566;width: 100%;height: 350px;}
    #right_down_1{background: 556677;width: 100%;height: 200px;}
    #right_down_2{background: 778899;width: 100%;height: 150px;}
    #d1{background:33DD55;width: 100%;height: 300PX;}
    #d2{background:33DD55;width: 12%;height: 100%;float:left;}
    #d3{background:33DD55;width: 80%;height: 100PX;}
    #d4{background:33DD55;width: 10%;height: 100%;padding-top: 50px;float:left;}
    #d5{background:33DD55;width: 50%;height: 100%;padding-top: 10px;float:left;}
    #d6{background:33DD55;width: 40%;height: 100%;padding-top: 10px;float:left;}
    a:link{text-decoration: none;color:rgb(0, 0, 0)}
    a:hover{color:rgb(120, 128, 241);text-decoration: none;}

